APP_ENV=dev
APP_DEBUG=1
APP_SECRET=change_me

DATABASE_URL="mysql://root:@127.0.0.1:3306/filrouge?serverVersion=8.0.36&charset=utf8mb4"

MAILER_DSN=null://null

MESSENGER_TRANSPORT_DSN="sync://"

DEFAULT_URI="http://127.0.0.1:8000"
