###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_please
###< symfony/framework-bundle ###

###> symfony/runtime ###
APP_RUNTIME_ENV=dev
###< symfony/runtime ###

###> doctrine/doctrine-bundle ###
# Format :
# DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DB_NAME?serverVersion=8.0&charset=utf8mb4"

DATABASE_URL="mysql://root:root@127.0.0.1:3306/eventflow?serverVersion=8.0&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
# MAILER_DSN=smtp://user:pass@smtp.example.com:587
MAILER_DSN=null://null
###< symfony/mailer ###

###> uploads ###
# Dossier public pour les images des événements
EVENEMENT_IMAGES_DIR=public/uploads/evenements
###< uploads ###

###> app ###
# URL de base de l'application (utile pour mails / assets)
APP_URL=http://127.0.0.1:8000
###< app ###