### Symfony ###
/var/
/vendor/
/public/bundles/
/.env
.env
.env.local
.env.*.local
.env.dev
.env.test
.env.prod


### PHPUnit / Tests ###
.phpunit.cache
.phpunit.result.cache
/phpunit.xml
/phpunit.xml.dist
/var/test.db

### Doctrine ###
/migrations_backup/

### IDE / OS ###
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

### Logs ###
*.log

### Cache ###
.cache/
tmp/

### Node / Front ###
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

### Build / Assets ###
/public/build/
/public/assets/

### CI / Secrets ###
*.key
*.pem
*.crt

### Docker  ###
docker-compose.override.yml

### Misc ###
coverage/
