{% extends "base.html.twig"%}
{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <h1>
        Details de l'evenement
    </h1>
    <p>
        lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
    </p>
{% endblock %}
